.container {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  justify-content: center;

  @media (max-width: 1440px) {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .starIcon {
    transform: translate(20px, 10px) rotate(-20deg);
    position: absolute;
    left: 0;
    
    @media (max-width: 1024px) {
      left: 50%;
      transform: translateX(-50%) rotate(-20deg);
      top: 20px;
    }
  }

  .leftContainer {
    width: 50%;
    
    @media (max-width: 1024px) {
      width: 80%;
    }

    .backgroundPhoto {
      position: relative;
      height: 500px;

      @media (max-width: 768px) {
        height: 300px;
      }

      .heroImage {
        position: absolute;
        left: 10%;
        top: -10%;
        
        @media (max-width: 768px) {
          width: 250px;
          height: 250px;
          left: 50%;
          top : 50%;
          transform: translateX(-50%);
        }
      }

      .heroPara {
        position: absolute;
        left: 10%;
        top: 10%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width: 768px) {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          gap: 10px;
        }

        h2 {
          text-transform: uppercase;
          font-size: 3rem;
          font-weight: 700;
          
          @media (max-width: 768px) {
            font-size: 2rem;
          }
        }

        p {
          font-size: 1rem;
          font-weight: 300;
          
          @media (max-width: 768px) {
            font-size: 0.875rem;
          }
        }

        .heroTags {
          width: fit-content;
          position: relative;

          @media (max-width: 768px) {
            display: none;
          }

          .starIcon {
            position: absolute;
            top: 10%;
            left: 10%;
          }
        }

        div {
          display: flex;
          align-items: center;

          @media (max-width: 768px) {
            flex-direction: column;
            gap: 10px;
          }

          .btn {
            background-color: black;
            color: white;
            padding: 15px 30px;
            border-radius: 4px;
            font-weight: 700;
            cursor: pointer;
            
            @media (max-width: 768px) {
              padding: 10px 20px;
            }
          }

          span {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0 50px;
            font-size: 1.5rem;

            @media (max-width: 768px) {
              padding: 0;
            }

            p {
              text-transform: capitalize;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .rightContainer {
    width: 40%;
    position: relative;
    
    @media (max-width: 1024px) {
      width: 80%;
    }

    .backgroundPhoto {
      .ringsImage {
        position: absolute;
        left: 10%;

        @media (max-width: 768px) {
          display: none;
        }
      }

      .iphone1Image {
        position: absolute;
        left: 25%;
        top: 20%;
        z-index: 1;
        
        @media (max-width: 768px) {
          width: 200px;
          height: 200px;
          left: 50%;
          top: 10%;
          transform: translateX(-50%);
        }
      }

      .iphone2Image {
        position: absolute;
        left: 15%;
        top: 10%;
        z-index: 1;
        
        @media (max-width: 768px) {
          width: 200px;
          height: 200px;
          left: 50%;
          top: 25%;
          transform: translateX(-50%);
        }
      }

      .iphone3Image {
        position: absolute;
        left: 5%;
        top: 0%;
        z-index: 1;
        
        @media (max-width: 768px) {
          width: 200px;
          height: 200px;
          left: 50%;
          top: 40%;
          transform: translateX(-50%);
        }
      }

      .backImage {
        transform: rotate(180deg) translate(-20%, -45%);
        position: absolute;
        top: 10px;
        left: -10%;
        
        @media (max-width: 768px) {
          transform: rotate(180deg) translate(-50%, -45%);
          width: 300px;
          height: 300px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .starIcon {
        position: absolute;
        top: 60%;
        left: 10%;
        transform: rotate(20deg);

        @media (max-width: 768px) {
          top: 90%;
          left: 50%;
          transform: translateX(-50%) rotate(20deg);
        }
      }
    }
  }
}
